/**
 * Admin Dashboard Styles
 * Location: src/styles/dashboards/admin/index.css
 */

@import './base.css';
@import './hero.css';
@import './badges.css';
@import './alert.css';
@import './cards.css';
@import './table.css';
@import './forms.css';
@import './roles.css';
@import './actions.css';
@import './section.css';
@import './layout.css';
@import './overview.css';
@import './responsive.css';
